[core]
	repositoryformatversion = 0
	filemode = true
	bare = false
	logallrefupdates = true
[remote "origin"]
	fetch = +refs/heads/*:refs/remotes/origin/*
	url = git@github.com:shlomif/cpanhq.git
[remote "bricas"]
	fetch = +refs/heads/*:refs/remotes/origin/*
	url = git@github.com:bricas/cpanhq.git
[branch "master"]
	remote = origin
	merge = refs/heads/master
[push]
    default = current
