snippet lip
<listitem>
<para>
${1}
</para>
</listitem>
endsnippet

snippet lipa
<listitem>
<para>
<link xlink:href="${1}">${2}</link> - ${3}
</para>
</listitem>
endsnippet

snippet li
<listitem>
${1}
</listitem>
endsnippet

snippet ul
<itemizedlist>
${1}
</itemizedlist>
endsnippet

snippet ol
<orderedlist>
${1}
</orderedlist>
endsnippet

snippet a
<link xlink:href="${1}">${2}</link>
endsnippet

snippet p
<para>
${1}
</para>
endsnippet
