snippet lip
<li>
<p>
${1}
</p>
</li>
endsnippet

snippet lipa
<li>
<p>
<a href="${1}">${2}</a> - ${3}
</p>
</li>
endsnippet

snippet lia
<li>
<a href="${1}">${2}</a> - ${3}
</li>
endsnippet

snippet li
<li>
${1}
</li>
endsnippet

snippet ul
<ul>
${1}
</ul>
endsnippet

snippet ol
<ol>
${1}
</ol>
endsnippet

snippet p
<p>
${1}
</p>
endsnippet

snippet bq
<blockquote>

<p>
${1}
</p>

</blockquote>
endsnippet
