snippet lip
<li>
<p>
${1}
</p>
</li>
endsnippet

snippet lipa
<li>
<p>
<a href="${1}">${2}</a> - ${3}
</p>
</li>
endsnippet

snippet lia
<li>
<a href="${1}">${2}</a> - ${3}
</li>
endsnippet

snippet lmk
<latemp_more_keywords "${1}" />
endsnippet

snippet li
<li>
${1}
</li>
endsnippet
