extends html

snippet lmk
[% SET more_keywords = "${1}" %]
endsnippet

snippet h2sect
[% WRAPPER h2_section id = "${1}" title = "${2}"  %]

[% END %]
endsnippet

snippet h3sect
[% WRAPPER h3_section id = "${1}" title = "${2}"  %]

[% END %]
endsnippet

snippet h4sect
[% WRAPPER h4_section id = "${1}" title = "${2}"  %]

[% END %]
endsnippet

snippet acro
[% my_acronym( "key" => "${1}", ) %]
endsnippet

snippet foss
[% my_acronym( "key" => "FOSS", ) %]
endsnippet
