extends html

snippet lmk
<latemp_more_keywords "${1}" />
endsnippet

snippet h2-sect
<h2_section id="${1}" title="${2}">

</h2_section>

endsnippet

snippet h3-sect
<h3_section id="${1}" title="${2}">

</h3_section>

endsnippet
