[user]
    name = Shlomi Fish
    email = shlomif@shlomifish.org

[alias]
    au = add -u
    ci = commit
    ciread = commit -F ~/conf/trunk/shlomif-settings/git/commit-messages/add-README-or-LICENSE.txt
    co = checkout
    cp = cherry-pick
    dh = diff HEAD
    dhs = diff HEAD --stat
    di = diff
    dim = diff master
    dims = diff master --stat
    ls = ls-files
    st = status

[core]
    excludesfile = ~/conf/git/excludes
[push]
    default = simple
[url "git://anongit.kde.org/"]
	insteadOf = kde:
[url "git@git.kde.org:"]
	pushInsteadOf = kde:
[url "ssh://git@github.com/"]
    pushInsteadOf = https://github.com/
[color]
    ui = false
[github]
    user = shlomif
[include]
    path = ~/.gitconfig-private
