[user]
    name = Shlomi Fish
    email = shlomif@shlomifish.org

[alias]
    au = add -u
    ci = commit
    ciread = commit -F ~/conf/trunk/shlomif-settings/git/commit-messages/add-README-or-LICENSE.txt
    ; Count of commits in a repo. See:
    ; https://stackoverflow.com/questions/677436/how-do-i-get-the-git-commit-count
    cnt = rev-list --all --count
    co = checkout
    cp = cherry-pick
    datetags = tag -l --format='%(refname:strip=2)%09%09%(authordate)'
    dh = diff HEAD
    dhs = diff HEAD --stat
    di = diff
    dim = diff master
    dims = diff master --stat
    dis = diff --stat
    i = info info
    ls = ls-files
    st = status

[commit]
    verbose = true
[core]
    excludesfile = ~/conf/git/excludes
[merge]
    renamelimit = 30000
[push]
    default = simple
[url "https://gitlab.gnome.org/GNOME/"]
	insteadOf = git://git.gnome.org/
[url "ssh://git@github.com/"]
    pushInsteadOf = https://github.com/
[url "ssh://git@gitlab.com/"]
    pushInsteadOf = https://gitlab.com/
[color]
    ui = false
[github]
    user = shlomif
[include]
    path = ~/.gitconfig-private
[pager]
    ; diff = diff-so-fancy | less --tabs=1,5 -RFX
    ; show = diff-so-fancy | less --tabs=1,5 -RFX
[cola]
	spellcheck = false
[url "https://invent.kde.org/"]
	insteadOf = kde:
[url "ssh://git@invent.kde.org/"]
	pushInsteadOf = kde:
